<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post a comment</title>
</head>
<body>
    <h1>{{ lesson.topic }}</h1>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if user.is_authenticated %}
    <form action="{% url 'lessons:comment' lesson.id %}" method="post">
        {% csrf_token %}
        <!-- Create form here   -->
        <input type="hidden" name="author" value="{{ user.username }}">
        <input type="text" name="comment_text">
        <input type="submit">
    </form>
    {% else %}
        <p>Please authorize to post a comment</p>
    {% endif %}
</body>
</html>
