{% extends 'lessons/base.html' %}
{% load static %}

{% block title %}
Details
{% endblock %}
{% block bodyClass %}"left-sidebar is-preload"{% endblock %}

{% block content %}
<!-- Main -->
<div class="wrapper style1 mb-0">

	<div class="container">
		<div class="row gtr-200">
			<div class="col-4 col-12-mobile" id="sidebar">
				<hr class="first" />
				<section>
					<header>
						<h3><a href="#">Синопсис</a></h3>
					</header>
					<p>
						{{lesson.syllabus}}
					</p>

				</section>
				<hr />
				<section>
					<header>
						<h3><a href="#">Дополнительные материалы</a></h3>
					</header>
					<p>
						Здесь вы найдете дополнительные статьи по уроку для изучения
					</p>
					<div class="row gtr-50">

						{% for material in lesson.additionalmateriallesson_set.all %}
						<div class="col-4">
							<a href="#" class="image fit"><img src='/{{material.image.url}}' alt="" /></a>
						</div>
						<div class="col-8">
							<h4>{{material.title}}</h4>
							<p>
								{{material.desc}}
							</p>
						</div>
						{% endfor %}
					</div>

				</section>
			</div>
			<div class="col-8 col-12-mobile imp-mobile" id="content">
				<article id="main">
					<header>
						<h2><a href="#">{{lesson.topic}}</a></h2>

					</header>
					{% if lesson.is_open %}
					<iframe width="773" height="355" src="{{lesson.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<p>
						{{lesson.description}}
					</p>
					<section>
						<header>
							<h3>Оставьте комментарий</h3>
						</header>
						{% if error_message %}
						<p><strong>{{ error_message }}</strong></p>
						{% endif %}

						{% if user.is_authenticated %}
						<form action="{% url 'lessons:comment' lesson.id %}" method="post" id="formSubmit">
							{% csrf_token %}
							<!-- Create form here   -->
							<input type="text" name="comment_text" id="commentText_id"  placeholder="Type your comment">
							<input type="submit">
						</form>
						{% else %}
						<form action="{% url 'lessons:comment' lesson.id %}" method="post" id="formSubmit">
							{% csrf_token %}
							<!-- Create form here   -->
							<input type="text" name="comment_text" id="commentText_id" placeholder="Авторизуйтесь чтобы оставить коммент" disabled>
							<input type="submit" disabled>
						</form>
						{% endif %}
					</section>
					<section>
						<header>
							<h3>Comments</h3>
						</header>
						<p>
						<ul class="list-style-none">
							{% for comment in lesson.comment_set.all %}
							<li>{{comment.comment_text}} -- {{comment.posted_by}}</li>
							{% endfor %}
							<li class="newComment"></li>
						</ul>
						</p>
					</section>
				</article>
				{% else %}
				{% if user.is_authenticated %}
				<iframe width="773" height="355" src="{{lesson.video_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<p>
					{{lesson.description}}
				</p>
				<section>
					<header>
						<h3>Оставьте комментарий</h3>
					</header>
					{% if error_message %}
					<p><strong>{{ error_message }}</strong></p>
					{% endif %}

					{% if user.is_authenticated %}
					<form action="{% url 'lessons:comment' lesson.id %}" method="post" id="formSubmit">
						{% csrf_token %}
						<!-- Create form here   -->
						<input type="text" name="comment_text" id="commentText_id" placeholder="Type your comment">
						<input type="submit">
					</form>
					{% else %}
					<form action="{% url 'lessons:comment' lesson.id %}" method="post" id="formSubmit">
						{% csrf_token %}
						<!-- Create form here   -->
						<input type="text" name="comment_text" id="commentText_id" placeholder="Авторизуйтесь чтобы оставить коммент" disabled>
						<input type="submit" disabled>
					</form>
					{% endif %}
				</section>
				<section>
					{% if lesson.comment_set.all %}
					<header>
						<h3>Comments</h3>
					</header>
					<p>
					<ul class="list-style-none">
						{% for comment in lesson.comment_set.all %}
						<li>{{comment.comment_text}} -- {{comment.posted_by}}</li>
						{% endfor %}
						<li class="newComment"></li>
					</ul>
					</p>
					{% else %}
					Комментариев к данному уроку нет
					{% endif %}
				</section>
				{% else %}
				Авторизуйтесь чтобы увидеть контент
				{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

</div>
{% endblock %}
