/*Customized CSS*/

#isChecked {
	background-color: initial;
    cursor: default;
    appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

#commentText_id {
	padding: 1em 1em 9em;
	margin-bottom: 1em;
}

.labelChecked {
	display: inline-block !important;
}

.articleTitle {
    height: 20px;margin-bottom: 40px
}

.articleText {
    height: 150px; margin-bottom: 20px
}

.articleAuthor {
    margin-top: 50px
}